# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Ansible
ansible_vault
.vault_pass.txt

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Editor/IDE
.vscode/
.idea/

# Misc
*.log
